mixin logo-icon()
    .logo-icon
        img(
            class= "logo-icon__img"
            src= require("~logo/toxin-logo.svg").default
            alt= "logo-icon"
            width= "48px"
            height= "48px"  
        )